body {
    background: #38598b; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #e7eaf6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.first-color { 
	background: #e7eaf6; 
}
	
.second-color { 
	background: #a2a8d3; 
}

.third-color { 
	background: #38598b; 
}

.fourth-color { 
	background: #113f67; 
}

.roundCorners20 {
    border-radius: 20px;
}

.container1 {
    padding: 20px;
}

.container2 {
    margin: 20px;
    padding: 20px;
    background: #113f67; 
    color: #e7eaf6;
    font-size: 15px;
}
